html,
body{
    font-size: 35px;
    font-family: sans-serif;
}

/*Header*/

.header{
    background: #FCB9AA;
    color: white;
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.menu-navegacion{
    width: 900px;
}

.menu-navegacion > ul{
    list-style-type: none;
    display: flex;
    position: relative;
}

.menu-navegacion > ul > li{
    border: solid;
    border-color: #ECEAE4;
    padding: 20px;
    background-color: #97C1A9;
    display: flex;
    text-align: center;
}

.menu-navegacion>ul>li:hover{
    
    color: grey;
    background-color: #CCE2CB;
    padding: 25px;
    transition: padding 0.25s linear, color 0.25s linear;
}

.logo{
    width: 270px;
}

.logo img{
    width: 120px;
}
.logo img:hover{
    width: 150px;
}

/*Secció 1*/

.barra-lateral{
    color: black;
    width: 400px;
    background: #CCE2CB;
    position: fixed;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barra-lateral > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.barra-lateral >ul >li{
    margin: 70px 30px;
    margin-bottom: solid;
}
.barra-lateral>ul>li:hover{
    text-decoration: underline;
}

/*Secció 2*/


